<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt cum, ea neque veniam dolorum repellat soluta et eveniet voluptatem fugit, facilis molestias rerum? Fugiat, sequi?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt cum, ea neque veniam dolorum repellat soluta et eveniet voluptatem fugit, facilis molestias rerum? Fugiat, sequi?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt cum, ea neque veniam dolorum repellat soluta et eveniet voluptatem fugit, facilis molestias rerum? Fugiat, sequi?</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>